body {
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
  box-sizing: border-box;
}
input:focus-visible {
  outline: 1px solid red;
}
.form-box {
  display: grid;
  place-items: center;
}
.formulario h2 {
  background-color: red;
  padding: 8px;
  color: white;
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}
.formulario {
  background-color: #fff;
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr;
  max-width: 400px;
  margin-top: 40px;
  padding: 10px 50px 50px 50px;
  box-shadow: 0 0 3px black;
  column-gap: 20px;
  row-gap: 6px;
}
.formulario__label {
  margin: 5px 0;
  font-size: 15px;
  font-weight: bold;
}
.formulario__input {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid red;
  background-color: #cfcfcf;
  padding: 5px;
}
.select-button {
  width: 140px;
  border: 1px solid black;
}
.jornadas {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.jornadas label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 12px;
}
.enviar {
  display: grid;
  grid-column: 1 / -1;
  margin-top: 20px;
  text-align: center;
  justify-items: center;
}
.boton {
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 6px 12px;
  margin: 4px;
  font-weight: bold;
  cursor: pointer;
}
.boton-limpiar {
  background-color: rgb(163, 163, 163);
  color: rgb(29, 29, 29);
  font-size: 12px;
  padding: 6px 6px;
}
.boton:hover {
  background-color: black;
  color: red;
}
.boton-limpiar:hover {
  color: rgb(66, 66, 66);
}
.boton:active {
  background-color: black;
  color: red;
  transform: scale(
    0.95
  ); /* Está genial este efecto :0 nunca lo había probado */
}
.boton-limpiar:active {
  background-color: black;
  color: rgb(66, 66, 66);
  transform: scale(0.95);
}
