body {
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
}
.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin-top: 40px;
  padding: 10px 50px 50px 50px;
  box-shadow: 0 0 3px black;
}
.formulario__label {
  margin: 5px 0;
  font-size: 15px;
  font-weight: bold;
}
.formulario__input {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid black;
  background-color: #cfcfcf;
  padding: 5px;
}
